extends layout

block content
	div.section#banner
		.row
			.col.s12
				p Welcome to the
					h2 Digital Drone Collective
	div.section.center-align
		.container
			.row
				.col.s12.m6.l6
					span.header-image
						img.responsive-img(src='/images/groupshot--team.jpg' alt="group picture of ddc team members")
				.col.s12.m6.l6
					p.subtitle
						| We are a collaboration between Code for Canada and Transport Canada Civic Aviation 
						a(href='https://t.co/mILVPcYP5f') tasked 
						| to conduct user research with drone pilots and prototype digital tools to help them fly safely and in accordance with new regulations.

	div.section.center-align
		h3.section-title Connect with us
		.container
			p.subtitle We believe in working in the open and will actively share our journey with you.
			.row
				.col.s12.m12.l4
					.card.center-align
						.card-content
							i.fas.fa-plane-departure.icon
							h4 Follow our journey
							p For daily updates and sometimes photos, follow our hashtag on Twitter.
						.card-action
							a(href='https://twitter.com/search?q=%23DigitalDroneCollective')
								button.waves-effect.waves-light.btn Follow Updates
						
				.col.s12.m12.l4
					.card.center-align
						.card-content
							i.fas.fa-book-open.icon
							h4 Read our posts
							p For periodic updates on the project, photos, and possibly videos, visit our Tumblr.
						.card-action
							a(href='tumblr.digitaldronecollective.com')
								button.waves-effect.waves-light.btn Visit Tumblr

				.col.s12.m12.l4
					.card.center-align
						.card-content
							i.fas.fa-camera-retro.icon
							h4 See our photos
							p Check out our Flickr for a visual story and shared repository of photos of our project.
						.card-action
							a(href='https://www.flickr.com/photos/digitaldronecollective/')
								button.waves-effect.waves-light.btn See Photos

	div.section
		h3.section-title.center-align Meet the Team
		.container
			.row.team-cards
				each person, index in people
					.col.s12.m6.l4
						.card
							.card-content
								.card-image.headshot
									img.responsive-img(src=person.image)
								span.card-title
									h5=person.name
								h6=person.position
								p=person.team
							.card-action
								- if (person.twitter != null){
										a(href=person.twitter) Twitter
								- }
								- if (person.linkedIn != null){
										a(href=person.linkedIn) LinkedIn
								- }
								 


	div.section.center-align
		h3.section-title Subscribe to updates
		.container
			p.subtitle Since working in the open is so important, we're planning to have a weekly newsletter. It will aggregate some of our project updates and content we'd like to share with you all.
			.row.newsletter
				.col.s12.m6.l6
					img.responsive-img(src='/images/team-working-together.jpg' alt="group picture of ddc team members")
				.col.s12.m6.l6
					.newsletter-form
						.ml-form-embed(data-account='1333026:y6o1n5a9c2', data-form='1142102:v0r0i4')

	div.section.center-align
		h3.section-title Events
		.container
				img.responsive-img(src='/images/meet-the-ddc.png')

	div.section.center-align.footer
		span Digital Drone Collective 2018. All rights reserved.
		br
		span This website is an alpha | iteration 2.1.0